


.catalog {
	width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	background-color: $bcg;
  flex-direction: column;
  flex-wrap: nowrap;

  &__title {
  	display: none;
  }


  &__tabs-wrap {
    overflow-x:auto;
  	width: 100%;
  	background-color: $gray;
  	display: flex;
  	margin: 0 ;
  	padding: 0;
    height: 50px;

  	@media(min-width: $screen-m) {}

  	@media(min-width: $screen-l) {
      // padding: 0 30;
    }


  }


  &__tabs {
  	display: flex;
    // padding-top: 10px;


  	@media(min-width: $screen-m) {}

  	@media(min-width: $screen-l) {
      width: 1280px;
      margin: 0 auto;
      padding-left: 100px;
    }
  }
  &__tab-item {
  	display: flex;
    margin: 0;
    padding-left: 50px;
  }

  &__tab-link {
    position: relative;
  	font-size: $font-size-s;
    text-decoration: none;
	  color: $text-color;
	  font-weight: 600;
    padding-top: 15px;
  }

    &__tab-link:hover:after {
    position: absolute;
    content: '';
    width: 100%;
    border: 1px solid $pink;
    left: 0;
    bottom: 0;
  }



  &__list-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
  &__list {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 40px;
    @media (min-width: $screen-l) {
    width: 1280px;
    padding-top: 52px;
    }
  }
}









