.feedback {
  width: 100%;
  margin: 0 auto;
  background-color: $bcg;
  min-height: 630px;
  padding-bottom: 50px;

  @media (min-width: $screen-m) {
    min-height: 490px;
    padding-bottom: 57px;
  }

  @media (min-width: $screen-l) {
    min-height: 395px;
    padding-bottom: 50px;
  }

  &__wrapper {
    position: relative;
    padding: 0;
    margin: 0 auto;
    border: solid 8px $gray;
    width: 340px;
    min-height: 580px;
    padding-left: 20px;


    @media (min-width: $screen-m) {
      width: 680px;
      min-height: 430px;
      padding-left: 28px;
    }

    @media (min-width: $screen-l) {
      width: 1220px;
      min-height: 344px;
      padding-left: 28px;
    }
  }

  &__wrapper:before {
    content: '';
    position: absolute;
    top: -8px;
    left: 10%;
    width: 30%;
    height: 8px;
    background-color: $bcg;
    z-index: 1;
  }

  &__wrapper:after {
    content: '';
    position: absolute;
    bottom: -8px;
    right: 10%;
    width: 30%;
    height: 8px;
    background-color: $bcg;
    z-index: 1;
  }

  &__title {
    margin: 0;
    padding-top: 70px;
    font-weight: 700;
    font-size: $font-size-l;
  }

  &__subtitle {
    margin: 0;
    font-weight: 500;
    font-size: $font-size-s;
    padding-top: 27px;
    padding-bottom: 42px;


    @media (min-width: $screen-m) {

    }

    @media (min-width: $screen-l) {
      padding-top: 27px;
      padding-bottom: 44px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding: 0;
    font-weight: 500;
    font-size: $font-size-s;


    @media (min-width: $screen-m) {

    }

    @media (min-width: $screen-l) {

      justify-content: space-between;
      margin: 0 auto;
    }
  }

  &__form-wrapper {
    margin: 0;
    padding: 0;
    margin: 0;
    flex-direction: column;
    flex-wrap: wrap;

    @media (min-width: $screen-m) {

    }

    @media (min-width: $screen-l) {
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }

  &__form-input {
    height: 50px;
    padding: 0;
    border: none;
    border-bottom: 4px solid $gray;
    background-color: transparent;
    color: $gray;
    width: 90%;
    margin-bottom: 44px;

    @media (min-width: $screen-m) {
      width: 45%;
    }

    @media (min-width: $screen-l) {
      width: 30%;
      margin-right: 40px;
    }
  }

  &__form-input:first-child {

    @media (min-width: $screen-m) {
      margin-right: 40px;
    }
  }

  &__form-button {
    height: 50px;
    margin: 0;
    padding: 0;
    background-color: $text-color;
    border: none;
    font-weight: 700;
    font-size: $font-size-s;
    color: $gray;
    width: 90%;
    position: absolute;
    bottom: 88px;
    left: 15px;


    @media (min-width: $screen-m) {
      width: 50%;
      position: absolute;
      bottom: 60px;
      left: 25px;
    }

    @media (min-width: $screen-l) {
      width: 30%;
      position: relative;
      bottom: 0;
      left: 0;
    }
  }

  &__checkbox {
    display: flex;
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: $font-size-xs;
    line-height: 1.5;
    padding-bottom: 180px;

    @media (min-width: $screen-m) {
      padding-bottom: 156px;
    }

    @media (min-width: $screen-l) {
      width: 500px;
      padding-bottom: 0;
      margin-bottom: 75px;
    }
  }

  &__check {
    margin-right: 10px;
    padding: 0;
    background-color: transparent;
    border: none;


    @media (min-width: $screen-m) {

    }

    @media (min-width: $screen-l) {

    }
  }
}
