


.page-footer {
  background-color: #fff;

  &__container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 20px 30px;
    width: 100%;
    align-items: baseline;

    @media (min-width: $screen-m) {
      padding: 20px 0;
      width: 760px;
    }

    @media (min-width: $screen-l) {
      width: 1160px;
    }
  }

  &__logo {
    margin-bottom: 15px;

    @media (min-width: $screen-m) {
      margin-bottom: 0;
    }
  }

  &__work-time {
    display: block;
    order: 1;
    min-width: 100%;
    color: #c5c5c5;

    @media (min-width: $screen-m) {
      order: 0;
      padding-left: 30px;
      min-width: auto;
    }
  }
}































