.footer-nav {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;

  &__item {
    font-weight: 700;

    &--recom,
    &--books {
      display: none;
    }

    @media (min-width: $screen-m) {
      display: block;
      padding: 0 10px 0 10px;

      &:last-child {
        padding: 0 0 0 10px;
      }
    }
  }

  &__link {

    &--active {
      color: #d7569c;
    }
  }

  @media (min-width: $screen-m) {

    &__list {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
  }
}
