.main-nav {

  @media (min-width: $screen-m) {
    display: flex;
  }

  &__list {
    display: none;

    @media (min-width: $screen-m) {
      display: flex;
      margin-right: 20px;
      align-items: baseline;
    }

    @media (min-width: $screen-l) {
      margin-right: 60px;
    }
  }

  &__link {
    font-weight: 700;
    text-transform: lowercase;

    @media (min-width: $screen-m) {
      padding-right: 20px;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &__icon--tel {
    display: none;

    @media (min-width: $screen-m) {
      display: block;
    }
  }

  &__icon--basket {

    @media (min-width: $screen-m) {
      display: block;
      margin-right: 20px;
    }
  }

  &__icon--toggle {

    font-size: 0;
    position: relative;

    &,
    &:before,
    &:after {
      width: 30px;
      height: 3px;
      background-color: #000;
      transition: 0.2s ease-in-out;
      border-radius: 5px;
    }

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      will-change: transform;
    }

    &:before {
      transform: translateY(-6px);
    }

    &:after {
      transform: translateY(6px);
    }

    @media (min-width: $screen-m) {
      display: none;
    }
  }
}
  .main-nav__icon--toggle.is-active {
    transform: rotate(-45deg);

    &:before,
    &:after {
      transform: translateX(0) rotate(-90deg);
    }
  }






