.page-header {

  margin: 0;
  padding: 0;
  background-color: $bcg;
  width: 100%;
  height: 50px;
  display: flex;

  @media (min-width: $screen-s) {
  	justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $screen-m) {

  }

  @media (min-width: $screen-l) {

  }

  &__inner {
    margin: 0 auto;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;

  @media (min-width: $screen-s) {
    width: 100%;
    align-items: center;
    justify-content: space-between;
   } 
  }
  &__worktime {
  	@media (min-width: $screen-s) {
    display: none;
    }
  }
  &__logo {
  	@media (min-width: $screen-s) {
    justify-content: flex-start;
    flex-grow: 1;
    }
  }
}
