.page-header {
  background-color: #fff;

  &__container {
    margin: 0 auto;
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @media (min-width: $screen-m) {
      padding: 20px 0;
      width: 760px;
      justify-content: flex-start;
    }

    @media (min-width: $screen-l) {
      width: 1160px;
    }
  }

  &__logo {
    display: inline-flex;
  }

  &__work-time {
    display: none;
    color: #c5c5c5;

    @media (min-width: $screen-m) {
      display: block;
      padding-left: 33px;
      flex-grow: 2;
    }
  }
}

