.product-card-mini {
  width: 260px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

    @media(min-width: $screen-s) {}

    @media(min-width: $screen-m) {}

    @media(min-width: $screen-l) {
    margin-left: 20px;
    // margin-bottom: 78px;
    }

 &__img-wrap {
    position:relative;
    width: 260px;
    height: 370px;
    // padding-bottom:56.25%

  }

  &__img {
    position:absolute;
    top:0;left:0;
    width:100%;
    object-fit: cover;
    min-height: 1px;


}

  &__title {
    margin-bottom: 30px;
    padding: 0;
    font-weight: 700;
    font-size: $font-size-m;
    text-align: left;
  }

  &__link {
    color: $text-color;
  }

  &__descr {
    margin: 0;
    padding: 0;
    font-size: $font-size-s;
    font-weight: 400;
    font-style: italic;
    text-align: left;
  }

  &__price {
    margin-top: auto;
    margin: 0;
    padding-top: 18px;
    font-weight: 700;
    font-size: $font-size-s;
  }
}
